@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";




*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
  /* div {
  outline: 1px solid red;
}      */

@font-face {
  font-family: Abibas;
  src: url('./font/Abibas.ttf');
}
@font-face {
  font-family: AvenirLight;
  src: url('./font/AvenirLTStd-Roman.otf');
}


:root {
  --font: 'Montserrat', sans-serif;
}


svg {
  stroke-width: 0.5;
}
